$colorDarkShade: #252B36;
$colorDarkAccent: #B74053;
$colorDarkContrastText: #fff;
$colorMain: #C94D53;
$colorLightAccent: #938AA5;
$colorLightShade: #F4F7F5;
$colorLightContrastText: #1b2542;

$colorLogoAzul: #4489fe;
$colorLogoNaranja: #ffab40;
$colorLogoRosa: #ff4181;
$colorLogoRojo: #ff5253;
