@mixin generated-html {
  p {
    line-height: 1.75rem;
    margin-bottom: 2.1rem;

  }
  a {
    text-decoration: none;
    color: $colorDarkAccent;
  }

  strong {
    font-weight: 900;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    margin-bottom: 2.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.45rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.75rem;
  }

  h6 {
    font-size: 1.5rem;
  }
  @media (max-width: 650px) {
    h1{
      font-size: 2rem;
    }
    h2{
      font-size: 1.75rem;
    }
    h3{
      font-size: 1.5rem;
    }
    h4{
      font-size: 1.25rem;
    }
    h5{
      font-size: 1.15rem;
    }
  }

  mark {
    background-color: $colorLightAccent;
    color: $colorDarkShade;
  }

  pre {
    padding: 0 2rem;
    margin: 1rem 0 2rem;
  }

  ol, ul {
    margin: 1rem 2rem;

    li {
      padding-left: 0.35rem;
    }
  }
  @media (max-width: 650px) {
    ol, ul {
      margin: 0.8rem 1.1rem;

      li {
        padding-left: 0.2rem;
      }
    }
  }
 /** TODO: revisar mixin con parametros para reducir el padding de blockquote en los subcomments y el font-size de los H* */
  blockquote {
    margin: 3rem 5rem;
    padding: 3rem 2rem 3rem 6rem;
    position: relative;
    border: 1px solid $colorDarkAccent;
    text-align: right;
    font-style: italic;
    font-size: larger;

    &::before {
      content: '#';
      font-family: "Montserrat Alternates";
      font-weight: 700;
      font-style: italic;
      font-size: 6rem;
      color: $colorDarkShade;
      position: absolute;
      left: 0;
      top: 50%;
      height: 6rem;
      width: 6rem;
      line-height: 6rem;
      margin-left: -3rem;
      margin-top: -3rem;
      display: block;
      background-color: $colorDarkAccent;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 0 0 10px $colorDarkShade;
      box-shadow: 0 0 0 10px $colorDarkShade;
      text-align: center;
    }

    > p {
      margin-bottom: auto;
    }
  }
  @media (max-width: 650px) {
    blockquote {
      margin: 2.5rem auto;
      padding: 2.5rem 1rem 1.5rem 1rem;
      &::before {
        font-size: 3rem;
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        top:0;
        left: 50%;
        margin-left: -1.5rem;
        margin-top: -1.5rem;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 0 5px $colorDarkShade;
        box-shadow: 0 0 0 5px $colorDarkShade;
      }
    }
  }
}

/** mixins para distintos breaks y ejemplos de usos de variables
@content es, CREO, un placeholder solamente

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}


 */
