@import 'colors';
@import "generated-html";

#main #hero article {
  .hero_title {
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    h1 {
      grid-column: unset;
      grid-row: unset;
      font-family: "Montserrat Alternates";
      font-weight: 400;
      color: #fff;
      font-size: 4rem;
      line-height: 4rem;
    }

    .meta {
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-weight: normal;
      font-size: 1rem;
      color: $colorDarkContrastText;
      margin-top: 2rem;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

@media (max-width: 650px) {
  #main {
    #hero .reel article {
      .tag {
        font-size: 3.8rem;
        word-wrap: break-word;
      }

      .hero_title {
        h1 {
          font-size: 2rem;
          line-height: 2rem;
          word-wrap: break-word;
        }

        .meta {
          font-size: 0.8rem;
          margin-top: 1rem;
        }
      }
    }

    #main-content {


    }
  }
}

#main-content article#main-article {
  padding: 0 3rem;
  font-family: 'Lato', sans-serif;
  color: $colorDarkContrastText;
  font-size: 1.0rem;

  @include generated-html;
  @media (max-width: 650px) {
    padding: 0 0.7rem;
  }
}

#main-content {
  #tags {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2.2rem;

    a.tag {
      display: block;
      padding: 0.8rem 1.5rem 0.5rem;
      font-size: 0.85rem;
      font-family: Lato;
      background-color: $colorLightAccent;
      color: $colorDarkContrastText;
      text-decoration: none;
    }
  }

  @media (max-width: 650px) {
    #tags {
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 1.6rem;

      a.tag {
        //flex: 0 1 30%;
        padding: 1.0rem 1.1rem 0.7rem;
        margin: 0 0.35rem 0.5rem 0;
        text-align: center;
        white-space: nowrap;
      }
    }
  }

  #social_share {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0 3rem;
    flex-wrap: wrap;

    a.social_btn {
      max-width: 50%;
      margin: 0 0.5rem 1rem 0;
      flex: 1 0 calc(20% - 4.5rem);
      padding: 0.2rem 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 2rem;
        width: auto;
      }

      &.twitter {
        background-color: #1DA1F2;
      }

      &.linked {
        background-color: #2867B2;
      }

      &.reddit {
        background-color: #F04923;
      }

      &.facebook {
        background-color: #45619D;
      }
    }

    @media (min-width: 651px) and (max-width: 768px) {
      a.social_btn {
        flex: 1 1 30%;
      }
    }
  }

  #related {
    margin: 2rem 0;
    padding: 0 3rem;

    h2 {
      font-family: "Montserrat Alternates";
      font-size: 2.3rem;
      color: #fff;
      text-align: center;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    .related-list {
      display: flex;
      justify-content: space-between;

      .teaser {
        max-width: 80%;
        flex: 0 1 25%;
        display: flex;
        height: 15rem;
        padding: 0 0.5rem;
        justify-content: center;
        align-items: center;
        position: relative;
        text-decoration: none;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          position: absolute;
          z-index: 1;
          filter: opacity(0.4) saturate(60%);;
          /*-webkit-box-shadow:inset 0 0 0 100px rgba(30,30,30,0.5);
          box-shadow:inset 0 0 0 100px rgba(30,30,30,0.5);*/
          &.noPicBG {
            object-fit: contain;
            height: 95%;
            width: 95%;
          }
        }

        h4 {
          margin: 0;
          padding: 0;
          font-size: 1.5rem;
          color: $colorDarkContrastText;
          text-align: center;
          z-index: 2;
        }
      }
    }

    @media (max-width: 650px) {
      padding: 0 0.7rem;

      h2 {
        font-size: 1.7rem;
        margin-bottom: 1.4rem;
      }

      .related-list {
        flex-wrap: wrap;
        justify-content: center;

        .teaser {
          max-width: 85%;
          flex: auto;
          height: 13rem;
          padding: 0 0.35rem;
          margin-bottom: 0.5rem;

          h4 {
            font-size: 1.1rem;
          }
        }
      }
    }
    @media (min-width: 651px) and (max-width: 768px) {
      .related-list {
        justify-content: center;
        flex-wrap: wrap;
        .teaser {
          flex: 1 1 90%;
          height: 13rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

#main-comments {
  grid-column: 2 / 3;
  //grid-row: 4 / 4;
  z-index: 5;
  width: -moz-available;
  width: -webkit-fill-available;
  max-width: 1890px;
  padding: 3rem 6rem;
  background-color: $colorDarkShade;
  -webkit-box-shadow: 0 20px 30px 0 rgba(65, 65, 65, 0.5);
  box-shadow: 0 20px 30px 0 rgba(65, 65, 65, 0.5);
  margin-bottom: 50px;

  h2.comments-title {
    font-family: "Montserrat Alternates";
    font-size: 2.4rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  form {
    color: $colorDarkContrastText;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;

    label {
      margin-bottom: 0.5rem;
    }

    textarea {
      border: 1px solid $colorDarkContrastText;
      background-color: transparent;
      color: $colorDarkContrastText;
      width: 100%;
      margin-bottom: 1rem;
      min-height: 5rem;
      font-size: 1rem;
    }

    .inlineform {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
    }


    .field-group {
      display: flex;
      flex: 0 1 30%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      input {
        border: 1px solid $colorDarkContrastText;
        padding: 0.25rem 0.5rem;
        color: $colorDarkContrastText;
        background-color: transparent;
        height: 1.75rem;
        line-height: 1.75rem;
        font-size: 1rem;
      }
    }

    input[type='submit'] {
      outline: 0;
      border: 0;
      height: 2.25rem;
      padding: 0.3rem 2rem;
      font-size: 1.0rem;
      font-family: "Montserrat Alternates";
      font-weight: normal;
      color: $colorDarkContrastText;
      background-color: $colorMain;
      margin-top: 1rem;
    }

  }

  @media (max-width: 650px) {
    max-width: 620px;
    padding: 10px;
    width: calc(100% - 20px);
    h2.comments-title {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }
    form {

      textarea {
        //width: 100%;
        margin-bottom: 0.75rem;
        min-height: 7rem;
      }

      .inlineform {
        justify-content: left;
        align-items: flex-end;
      }

      .field-group {
        flex: 0 1 100%;
        margin-bottom: 0.5rem;
        //flex-direction: column;
        //justify-content: flex-start;
        //align-items: flex-start;

        input {
          padding: 0.35rem 0.5rem;
          height: 1.85rem;
          line-height: 1.85rem;
          width: -moz-available;
          width: -webkit-fill-available;
        }
      }

      input[type='submit'] {
        margin-top: 0.5rem;
        height: 2.5rem;
        padding: 0.4rem 2rem;
      }

    }

  }
  @media (min-width: 651px) and (max-width: 768px) {
    padding: 2rem;
  }
}

#comments-container {
  margin-top: 3rem;

  .comment {
    display: grid;
    grid-template-columns: 5rem auto;
    justify-items: start;
    align-items: start;
    margin-bottom: 2rem;
    position: relative;
    overflow-y: hidden;

    .avatar {
      width: 100%;
      min-height: 5rem;

      img, svg {
        -webkit-border-radius: 5rem;
        border-radius: 5rem;
        width: 100%;
        height: 5rem;
        object-fit: cover;
        background-color: $colorMain;
      }
    }

    .content {
      padding: 0.65rem 0.5rem;
      font-family: Lato;
      color: $colorDarkContrastText;
      overflow-y: auto;

      .username {
        display: block;
        font-family: "Montserrat Alternates";
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0;
        margin: 0;
      }

      .meta {
        display: block;
        font-size: 0.8rem;
      }

      .text {
        font-size: 0.95rem;
        @include generated-html;
      }

      .reply {
        font-family: "Montserrat Alternates";
        text-decoration: none;
        color: $colorDarkAccent;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 2.5rem;
      top: 6rem;
      height: calc(100% - 6rem);
      width: 1px;
      background-color: $colorDarkAccent;
    }

    & .comment {
      grid-column: 2/3;
      margin-top: 1.5rem;
      grid-template-columns: 2.5rem auto;

      .avatar {
        min-height: 2.5rem;

        img, svg {
          -webkit-border-radius: 2.5rem;
          border-radius: 2.5rem;
          height: 2.5rem;
        }
      }

      &::after {
        left: 1.25rem;
        top: 3rem;
        height: calc(100% - 3rem);
      }
    }
  }

  @media (max-width: 650px) {
    .comment {
      grid-template-columns: 2rem auto;
      margin-bottom: 1rem;

      .avatar {
        min-height: 2rem;

        img, svg {
          -webkit-border-radius: 2rem;
          border-radius: 2rem;
          height: 2rem;
        }
      }

      .content {
        padding: 0.25rem 0.5rem 0.5rem;

        .username {
          font-size: 0.9rem;
        }

        .meta {
          font-size: 0.7rem;
        }

        .text {
          font-size: 0.85rem;
          @include generated-html;
        }

        .reply {
          font-size: 0.9rem;
          font-weight: 500;
        }
      }

      &::after {
        left: 1rem;
        top: 3rem;
        height: calc(100% - 3rem);
      }

      & .comment {
        grid-template-columns: 1rem auto;
        //overflow-y: hidden;

        .content {
          padding: 0 0.25rem 0.5rem;
          //overflow-y: auto;
        }

        .avatar {
          min-height: 1rem;

          img, svg {
            -webkit-border-radius: 1rem;
            border-radius: 1rem;
            height: 1rem;
          }
        }

        &::after {
          left: 0.5rem;
          top: 1.5rem;
          height: calc(100% - 1.5rem);
        }
      }
    }
  }
  @media (min-width: 651px) and (max-width: 768px) {
    //overflow-y: auto;
  }
}

/** TODO: responsive **/