/** mixins para distintos breaks y ejemplos de usos de variables
@content es, CREO, un placeholder solamente

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}


 */
#main #hero article .hero_title {
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; }
  #main #hero article .hero_title h1 {
    grid-column: unset;
    grid-row: unset;
    font-family: "Montserrat Alternates";
    font-weight: 400;
    color: #fff;
    font-size: 4rem;
    line-height: 4rem; }
  #main #hero article .hero_title .meta {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: #fff;
    margin-top: 2rem; }
    #main #hero article .hero_title .meta a {
      text-decoration: none;
      color: inherit; }

@media (max-width: 650px) {
  #main #hero .reel article .tag {
    font-size: 3.8rem;
    word-wrap: break-word; }
  #main #hero .reel article .hero_title h1 {
    font-size: 2rem;
    line-height: 2rem;
    word-wrap: break-word; }
  #main #hero .reel article .hero_title .meta {
    font-size: 0.8rem;
    margin-top: 1rem; } }
#main-content article#main-article {
  padding: 0 3rem;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 1.0rem;
  /** TODO: revisar mixin con parametros para reducir el padding de blockquote en los subcomments y el font-size de los H* */ }
  #main-content article#main-article p {
    line-height: 1.75rem;
    margin-bottom: 2.1rem; }
  #main-content article#main-article a {
    text-decoration: none;
    color: #B74053; }
  #main-content article#main-article strong {
    font-weight: 900; }
  #main-content article#main-article h1, #main-content article#main-article h2, #main-content article#main-article h3, #main-content article#main-article h4, #main-content article#main-article h5, #main-content article#main-article h6 {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    margin-bottom: 2.5rem; }
  #main-content article#main-article h1 {
    font-size: 3rem; }
  #main-content article#main-article h2 {
    font-size: 2.75rem; }
  #main-content article#main-article h3 {
    font-size: 2.45rem; }
  #main-content article#main-article h4 {
    font-size: 2rem; }
  #main-content article#main-article h5 {
    font-size: 1.75rem; }
  #main-content article#main-article h6 {
    font-size: 1.5rem; }
  @media (max-width: 650px) {
    #main-content article#main-article h1 {
      font-size: 2rem; }
    #main-content article#main-article h2 {
      font-size: 1.75rem; }
    #main-content article#main-article h3 {
      font-size: 1.5rem; }
    #main-content article#main-article h4 {
      font-size: 1.25rem; }
    #main-content article#main-article h5 {
      font-size: 1.15rem; } }
  #main-content article#main-article mark {
    background-color: #938AA5;
    color: #252B36; }
  #main-content article#main-article pre {
    padding: 0 2rem;
    margin: 1rem 0 2rem; }
  #main-content article#main-article ol, #main-content article#main-article ul {
    margin: 1rem 2rem; }
    #main-content article#main-article ol li, #main-content article#main-article ul li {
      padding-left: 0.35rem; }
  @media (max-width: 650px) {
    #main-content article#main-article ol, #main-content article#main-article ul {
      margin: 0.8rem 1.1rem; }
      #main-content article#main-article ol li, #main-content article#main-article ul li {
        padding-left: 0.2rem; } }
  #main-content article#main-article blockquote {
    margin: 3rem 5rem;
    padding: 3rem 2rem 3rem 6rem;
    position: relative;
    border: 1px solid #B74053;
    text-align: right;
    font-style: italic;
    font-size: larger; }
    #main-content article#main-article blockquote::before {
      content: '#';
      font-family: "Montserrat Alternates";
      font-weight: 700;
      font-style: italic;
      font-size: 6rem;
      color: #252B36;
      position: absolute;
      left: 0;
      top: 50%;
      height: 6rem;
      width: 6rem;
      line-height: 6rem;
      margin-left: -3rem;
      margin-top: -3rem;
      display: block;
      background-color: #B74053;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 0 0 10px #252B36;
      box-shadow: 0 0 0 10px #252B36;
      text-align: center; }
    #main-content article#main-article blockquote > p {
      margin-bottom: auto; }
  @media (max-width: 650px) {
    #main-content article#main-article blockquote {
      margin: 2.5rem auto;
      padding: 2.5rem 1rem 1.5rem 1rem; }
      #main-content article#main-article blockquote::before {
        font-size: 3rem;
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        top: 0;
        left: 50%;
        margin-left: -1.5rem;
        margin-top: -1.5rem;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 0 5px #252B36;
        box-shadow: 0 0 0 5px #252B36; } }
  @media (max-width: 650px) {
    #main-content article#main-article {
      padding: 0 0.7rem; } }

#main-content #tags {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2.2rem; }
  #main-content #tags a.tag {
    display: block;
    padding: 0.8rem 1.5rem 0.5rem;
    font-size: 0.85rem;
    font-family: Lato;
    background-color: #938AA5;
    color: #fff;
    text-decoration: none; }
@media (max-width: 650px) {
  #main-content #tags {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1.6rem; }
    #main-content #tags a.tag {
      padding: 1.0rem 1.1rem 0.7rem;
      margin: 0 0.35rem 0.5rem 0;
      text-align: center;
      white-space: nowrap; } }
#main-content #social_share {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 3rem;
  flex-wrap: wrap; }
  #main-content #social_share a.social_btn {
    max-width: 50%;
    margin: 0 0.5rem 1rem 0;
    flex: 1 0 calc(20% - 4.5rem);
    padding: 0.2rem 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    #main-content #social_share a.social_btn img {
      height: 2rem;
      width: auto; }
    #main-content #social_share a.social_btn.twitter {
      background-color: #1DA1F2; }
    #main-content #social_share a.social_btn.linked {
      background-color: #2867B2; }
    #main-content #social_share a.social_btn.reddit {
      background-color: #F04923; }
    #main-content #social_share a.social_btn.facebook {
      background-color: #45619D; }
  @media (min-width: 651px) and (max-width: 768px) {
    #main-content #social_share a.social_btn {
      flex: 1 1 30%; } }
#main-content #related {
  margin: 2rem 0;
  padding: 0 3rem; }
  #main-content #related h2 {
    font-family: "Montserrat Alternates";
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem; }
  #main-content #related .related-list {
    display: flex;
    justify-content: space-between; }
    #main-content #related .related-list .teaser {
      max-width: 80%;
      flex: 0 1 25%;
      display: flex;
      height: 15rem;
      padding: 0 0.5rem;
      justify-content: center;
      align-items: center;
      position: relative;
      text-decoration: none; }
      #main-content #related .related-list .teaser img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        filter: opacity(0.4) saturate(60%);
        /*-webkit-box-shadow:inset 0 0 0 100px rgba(30,30,30,0.5);
        box-shadow:inset 0 0 0 100px rgba(30,30,30,0.5);*/ }
        #main-content #related .related-list .teaser img.noPicBG {
          object-fit: contain;
          height: 95%;
          width: 95%; }
      #main-content #related .related-list .teaser h4 {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        z-index: 2; }
  @media (max-width: 650px) {
    #main-content #related {
      padding: 0 0.7rem; }
      #main-content #related h2 {
        font-size: 1.7rem;
        margin-bottom: 1.4rem; }
      #main-content #related .related-list {
        flex-wrap: wrap;
        justify-content: center; }
        #main-content #related .related-list .teaser {
          max-width: 85%;
          flex: auto;
          height: 13rem;
          padding: 0 0.35rem;
          margin-bottom: 0.5rem; }
          #main-content #related .related-list .teaser h4 {
            font-size: 1.1rem; } }
  @media (min-width: 651px) and (max-width: 768px) {
    #main-content #related .related-list {
      justify-content: center;
      flex-wrap: wrap; }
      #main-content #related .related-list .teaser {
        flex: 1 1 90%;
        height: 13rem;
        margin-bottom: 1rem; } }

#main-comments {
  grid-column: 2 / 3;
  z-index: 5;
  width: -moz-available;
  width: -webkit-fill-available;
  max-width: 1890px;
  padding: 3rem 6rem;
  background-color: #252B36;
  -webkit-box-shadow: 0 20px 30px 0 rgba(65, 65, 65, 0.5);
  box-shadow: 0 20px 30px 0 rgba(65, 65, 65, 0.5);
  margin-bottom: 50px; }
  #main-comments h2.comments-title {
    font-family: "Montserrat Alternates";
    font-size: 2.4rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem; }
  #main-comments form {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem; }
    #main-comments form label {
      margin-bottom: 0.5rem; }
    #main-comments form textarea {
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      width: 100%;
      margin-bottom: 1rem;
      min-height: 5rem;
      font-size: 1rem; }
    #main-comments form .inlineform {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap; }
    #main-comments form .field-group {
      display: flex;
      flex: 0 1 30%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      #main-comments form .field-group input {
        border: 1px solid #fff;
        padding: 0.25rem 0.5rem;
        color: #fff;
        background-color: transparent;
        height: 1.75rem;
        line-height: 1.75rem;
        font-size: 1rem; }
    #main-comments form input[type='submit'] {
      outline: 0;
      border: 0;
      height: 2.25rem;
      padding: 0.3rem 2rem;
      font-size: 1.0rem;
      font-family: "Montserrat Alternates";
      font-weight: normal;
      color: #fff;
      background-color: #C94D53;
      margin-top: 1rem; }
  @media (max-width: 650px) {
    #main-comments {
      max-width: 620px;
      padding: 10px;
      width: calc(100% - 20px); }
      #main-comments h2.comments-title {
        font-size: 1.8rem;
        margin-bottom: 1.5rem; }
      #main-comments form textarea {
        margin-bottom: 0.75rem;
        min-height: 7rem; }
      #main-comments form .inlineform {
        justify-content: left;
        align-items: flex-end; }
      #main-comments form .field-group {
        flex: 0 1 100%;
        margin-bottom: 0.5rem; }
        #main-comments form .field-group input {
          padding: 0.35rem 0.5rem;
          height: 1.85rem;
          line-height: 1.85rem;
          width: -moz-available;
          width: -webkit-fill-available; }
      #main-comments form input[type='submit'] {
        margin-top: 0.5rem;
        height: 2.5rem;
        padding: 0.4rem 2rem; } }
  @media (min-width: 651px) and (max-width: 768px) {
    #main-comments {
      padding: 2rem; } }

#comments-container {
  margin-top: 3rem; }
  #comments-container .comment {
    display: grid;
    grid-template-columns: 5rem auto;
    justify-items: start;
    align-items: start;
    margin-bottom: 2rem;
    position: relative;
    overflow-y: hidden; }
    #comments-container .comment .avatar {
      width: 100%;
      min-height: 5rem; }
      #comments-container .comment .avatar img, #comments-container .comment .avatar svg {
        -webkit-border-radius: 5rem;
        border-radius: 5rem;
        width: 100%;
        height: 5rem;
        object-fit: cover;
        background-color: #C94D53; }
    #comments-container .comment .content {
      padding: 0.65rem 0.5rem;
      font-family: Lato;
      color: #fff;
      overflow-y: auto; }
      #comments-container .comment .content .username {
        display: block;
        font-family: "Montserrat Alternates";
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0;
        margin: 0; }
      #comments-container .comment .content .meta {
        display: block;
        font-size: 0.8rem; }
      #comments-container .comment .content .text {
        font-size: 0.95rem;
        /** TODO: revisar mixin con parametros para reducir el padding de blockquote en los subcomments y el font-size de los H* */ }
        #comments-container .comment .content .text p {
          line-height: 1.75rem;
          margin-bottom: 2.1rem; }
        #comments-container .comment .content .text a {
          text-decoration: none;
          color: #B74053; }
        #comments-container .comment .content .text strong {
          font-weight: 900; }
        #comments-container .comment .content .text h1, #comments-container .comment .content .text h2, #comments-container .comment .content .text h3, #comments-container .comment .content .text h4, #comments-container .comment .content .text h5, #comments-container .comment .content .text h6 {
          font-family: "Montserrat Alternates";
          font-weight: 500;
          margin-bottom: 2.5rem; }
        #comments-container .comment .content .text h1 {
          font-size: 3rem; }
        #comments-container .comment .content .text h2 {
          font-size: 2.75rem; }
        #comments-container .comment .content .text h3 {
          font-size: 2.45rem; }
        #comments-container .comment .content .text h4 {
          font-size: 2rem; }
        #comments-container .comment .content .text h5 {
          font-size: 1.75rem; }
        #comments-container .comment .content .text h6 {
          font-size: 1.5rem; }
        @media (max-width: 650px) {
          #comments-container .comment .content .text h1 {
            font-size: 2rem; }
          #comments-container .comment .content .text h2 {
            font-size: 1.75rem; }
          #comments-container .comment .content .text h3 {
            font-size: 1.5rem; }
          #comments-container .comment .content .text h4 {
            font-size: 1.25rem; }
          #comments-container .comment .content .text h5 {
            font-size: 1.15rem; } }
        #comments-container .comment .content .text mark {
          background-color: #938AA5;
          color: #252B36; }
        #comments-container .comment .content .text pre {
          padding: 0 2rem;
          margin: 1rem 0 2rem; }
        #comments-container .comment .content .text ol, #comments-container .comment .content .text ul {
          margin: 1rem 2rem; }
          #comments-container .comment .content .text ol li, #comments-container .comment .content .text ul li {
            padding-left: 0.35rem; }
        @media (max-width: 650px) {
          #comments-container .comment .content .text ol, #comments-container .comment .content .text ul {
            margin: 0.8rem 1.1rem; }
            #comments-container .comment .content .text ol li, #comments-container .comment .content .text ul li {
              padding-left: 0.2rem; } }
        #comments-container .comment .content .text blockquote {
          margin: 3rem 5rem;
          padding: 3rem 2rem 3rem 6rem;
          position: relative;
          border: 1px solid #B74053;
          text-align: right;
          font-style: italic;
          font-size: larger; }
          #comments-container .comment .content .text blockquote::before {
            content: '#';
            font-family: "Montserrat Alternates";
            font-weight: 700;
            font-style: italic;
            font-size: 6rem;
            color: #252B36;
            position: absolute;
            left: 0;
            top: 50%;
            height: 6rem;
            width: 6rem;
            line-height: 6rem;
            margin-left: -3rem;
            margin-top: -3rem;
            display: block;
            background-color: #B74053;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 0 10px #252B36;
            box-shadow: 0 0 0 10px #252B36;
            text-align: center; }
          #comments-container .comment .content .text blockquote > p {
            margin-bottom: auto; }
        @media (max-width: 650px) {
          #comments-container .comment .content .text blockquote {
            margin: 2.5rem auto;
            padding: 2.5rem 1rem 1.5rem 1rem; }
            #comments-container .comment .content .text blockquote::before {
              font-size: 3rem;
              height: 3rem;
              width: 3rem;
              line-height: 3rem;
              top: 0;
              left: 50%;
              margin-left: -1.5rem;
              margin-top: -1.5rem;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              -webkit-box-shadow: 0 0 0 5px #252B36;
              box-shadow: 0 0 0 5px #252B36; } }
      #comments-container .comment .content .reply {
        font-family: "Montserrat Alternates";
        text-decoration: none;
        color: #B74053;
        font-size: 0.9rem;
        font-weight: 500; }
    #comments-container .comment::after {
      content: '';
      display: block;
      position: absolute;
      left: 2.5rem;
      top: 6rem;
      height: calc(100% - 6rem);
      width: 1px;
      background-color: #B74053; }
    #comments-container .comment .comment {
      grid-column: 2/3;
      margin-top: 1.5rem;
      grid-template-columns: 2.5rem auto; }
      #comments-container .comment .comment .avatar {
        min-height: 2.5rem; }
        #comments-container .comment .comment .avatar img, #comments-container .comment .comment .avatar svg {
          -webkit-border-radius: 2.5rem;
          border-radius: 2.5rem;
          height: 2.5rem; }
      #comments-container .comment .comment::after {
        left: 1.25rem;
        top: 3rem;
        height: calc(100% - 3rem); }
  @media (max-width: 650px) {
    #comments-container .comment {
      grid-template-columns: 2rem auto;
      margin-bottom: 1rem; }
      #comments-container .comment .avatar {
        min-height: 2rem; }
        #comments-container .comment .avatar img, #comments-container .comment .avatar svg {
          -webkit-border-radius: 2rem;
          border-radius: 2rem;
          height: 2rem; }
      #comments-container .comment .content {
        padding: 0.25rem 0.5rem 0.5rem; }
        #comments-container .comment .content .username {
          font-size: 0.9rem; }
        #comments-container .comment .content .meta {
          font-size: 0.7rem; }
        #comments-container .comment .content .text {
          font-size: 0.85rem;
          /** TODO: revisar mixin con parametros para reducir el padding de blockquote en los subcomments y el font-size de los H* */ }
          #comments-container .comment .content .text p {
            line-height: 1.75rem;
            margin-bottom: 2.1rem; }
          #comments-container .comment .content .text a {
            text-decoration: none;
            color: #B74053; }
          #comments-container .comment .content .text strong {
            font-weight: 900; }
          #comments-container .comment .content .text h1, #comments-container .comment .content .text h2, #comments-container .comment .content .text h3, #comments-container .comment .content .text h4, #comments-container .comment .content .text h5, #comments-container .comment .content .text h6 {
            font-family: "Montserrat Alternates";
            font-weight: 500;
            margin-bottom: 2.5rem; }
          #comments-container .comment .content .text h1 {
            font-size: 3rem; }
          #comments-container .comment .content .text h2 {
            font-size: 2.75rem; }
          #comments-container .comment .content .text h3 {
            font-size: 2.45rem; }
          #comments-container .comment .content .text h4 {
            font-size: 2rem; }
          #comments-container .comment .content .text h5 {
            font-size: 1.75rem; }
          #comments-container .comment .content .text h6 {
            font-size: 1.5rem; } }
      @media (max-width: 650px) and (max-width: 650px) {
        #comments-container .comment .content .text h1 {
          font-size: 2rem; }
        #comments-container .comment .content .text h2 {
          font-size: 1.75rem; }
        #comments-container .comment .content .text h3 {
          font-size: 1.5rem; }
        #comments-container .comment .content .text h4 {
          font-size: 1.25rem; }
        #comments-container .comment .content .text h5 {
          font-size: 1.15rem; } }
  @media (max-width: 650px) {
          #comments-container .comment .content .text mark {
            background-color: #938AA5;
            color: #252B36; }
          #comments-container .comment .content .text pre {
            padding: 0 2rem;
            margin: 1rem 0 2rem; }
          #comments-container .comment .content .text ol, #comments-container .comment .content .text ul {
            margin: 1rem 2rem; }
            #comments-container .comment .content .text ol li, #comments-container .comment .content .text ul li {
              padding-left: 0.35rem; } }
      @media (max-width: 650px) and (max-width: 650px) {
        #comments-container .comment .content .text ol, #comments-container .comment .content .text ul {
          margin: 0.8rem 1.1rem; }
          #comments-container .comment .content .text ol li, #comments-container .comment .content .text ul li {
            padding-left: 0.2rem; } }
  @media (max-width: 650px) {
          #comments-container .comment .content .text blockquote {
            margin: 3rem 5rem;
            padding: 3rem 2rem 3rem 6rem;
            position: relative;
            border: 1px solid #B74053;
            text-align: right;
            font-style: italic;
            font-size: larger; }
            #comments-container .comment .content .text blockquote::before {
              content: '#';
              font-family: "Montserrat Alternates";
              font-weight: 700;
              font-style: italic;
              font-size: 6rem;
              color: #252B36;
              position: absolute;
              left: 0;
              top: 50%;
              height: 6rem;
              width: 6rem;
              line-height: 6rem;
              margin-left: -3rem;
              margin-top: -3rem;
              display: block;
              background-color: #B74053;
              -webkit-border-radius: 10px;
              border-radius: 10px;
              -webkit-box-shadow: 0 0 0 10px #252B36;
              box-shadow: 0 0 0 10px #252B36;
              text-align: center; }
            #comments-container .comment .content .text blockquote > p {
              margin-bottom: auto; } }
      @media (max-width: 650px) and (max-width: 650px) {
        #comments-container .comment .content .text blockquote {
          margin: 2.5rem auto;
          padding: 2.5rem 1rem 1.5rem 1rem; }
          #comments-container .comment .content .text blockquote::before {
            font-size: 3rem;
            height: 3rem;
            width: 3rem;
            line-height: 3rem;
            top: 0;
            left: 50%;
            margin-left: -1.5rem;
            margin-top: -1.5rem;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 0 0 5px #252B36;
            box-shadow: 0 0 0 5px #252B36; } }
  @media (max-width: 650px) {
        #comments-container .comment .content .reply {
          font-size: 0.9rem;
          font-weight: 500; }
      #comments-container .comment::after {
        left: 1rem;
        top: 3rem;
        height: calc(100% - 3rem); }
      #comments-container .comment .comment {
        grid-template-columns: 1rem auto; }
        #comments-container .comment .comment .content {
          padding: 0 0.25rem 0.5rem; }
        #comments-container .comment .comment .avatar {
          min-height: 1rem; }
          #comments-container .comment .comment .avatar img, #comments-container .comment .comment .avatar svg {
            -webkit-border-radius: 1rem;
            border-radius: 1rem;
            height: 1rem; }
        #comments-container .comment .comment::after {
          left: 0.5rem;
          top: 1.5rem;
          height: calc(100% - 1.5rem); } }

/** TODO: responsive **/

/*# sourceMappingURL=article.css.map */
