#main-content article.teaser {
  padding: 3rem 5rem 0;
  margin: 0 0 3rem 0;
  color: #fff;
  text-align: left; }
  #main-content article.teaser .noPicBG {
    position: absolute;
    margin: -3rem 0 0 -5rem;
    height: 16rem;
    z-index: -1;
    fill: #000000;
    opacity: 0.4; }
  #main-content article.teaser h1 {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-size: 3rem;
    margin: 0 0 1rem 0;
    z-index: 2;
    line-height: 3.65rem; }
    #main-content article.teaser h1 a {
      text-decoration: none;
      color: #fff; }
  #main-content article.teaser .meta {
    margin: 0 0 1.2rem 0;
    z-index: 2;
    font-size: 0.85rem; }
  #main-content article.teaser .post_image {
    width: 100%;
    height: 520px;
    margin: 0.5rem 0 1rem;
    text-decoration: none;
    outline: none;
    display: block; }
    #main-content article.teaser .post_image img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
  #main-content article.teaser .summary {
    margin: 0 0 2rem;
    z-index: 2;
    font-size: 1.15rem;
    line-height: 1.75rem; }
  #main-content article.teaser .leer_link {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 0.55rem 3.5rem;
    font-family: "Montserrat Alternates";
    color: #fff;
    background-color: #B74053;
    font-size: 0.9rem;
    text-decoration: none; }

/*# sourceMappingURL=front.css.map */
