* {
  margin: 0;
  padding: 0; }

body {
  background-color: #252B36;
  color: #fff;
  font-family: 'Lato', sans-serif; }

h1 {
  font-family: 'Montserrat Alternates', sans-serif; }

#main-grid {
  display: grid;
  grid-template-rows: 143px auto auto;
  grid-template-columns: minmax(320px, 100%);
  grid-gap: 0;
  width: 100%; }
  #main-grid #main {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5); }
  #main-grid #main-footer {
    grid-column: 1 / 2;
    grid-row: 3/4;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5); }

#main-header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: minmax(15px, 5%) minmax(90%, 1890px) minmax(15px, 5%);
  height: 113px;
  align-self: end;
  background-color: transparent;
  z-index: 10;
  justify-items: center; }
  #main-header .container {
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
    max-width: 1890px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch; }
    #main-header .container .logo {
      width: 15%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center; }
      #main-header .container .logo svg {
        width: 100%;
        height: auto; }
    #main-header .container .nav-container {
      display: flex;
      width: max-content;
      justify-content: flex-start; }
      #main-header .container .nav-container #main-nav {
        height: 100%;
        margin-right: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        #main-header .container .nav-container #main-nav a {
          padding: 0 1rem;
          text-decoration: none;
          color: #fff;
          font: 500 1.8rem 'Montserrat Alternates';
          display: flex;
          height: 100%;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;
          overflow: hidden;
          position: relative; }
          #main-header .container .nav-container #main-nav a img {
            height: 2rem;
            margin: 0 0.6rem 0 0; }
            #main-header .container .nav-container #main-nav a img.wider {
              height: auto;
              width: 2.7rem; }
          #main-header .container .nav-container #main-nav a.animate::after {
            content: '';
            display: block;
            width: 100%;
            height: 0%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            animation-name: navmaskOut;
            animation-duration: 600ms;
            animation-timing-function: cubic-bezier(0.01, 0.79, 0.71, 1);
            animation-fill-mode: forwards; }
          #main-header .container .nav-container #main-nav a:nth-child(1)::after {
            background-color: #4489fe; }
          #main-header .container .nav-container #main-nav a:nth-child(2)::after {
            background-color: #ffab40; }
          #main-header .container .nav-container #main-nav a:nth-child(3)::after {
            background-color: #ff4181; }
          #main-header .container .nav-container #main-nav a:hover img, #main-header .container .nav-container #main-nav a:active img, #main-header .container .nav-container #main-nav a.active img {
            height: 50%;
            width: auto;
            position: absolute;
            left: 50%;
            margin-left: -15%;
            z-index: 2;
            animation-name: navimgIn;
            animation-delay: 400ms;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both; }
            #main-header .container .nav-container #main-nav a:hover img.wider, #main-header .container .nav-container #main-nav a:active img.wider, #main-header .container .nav-container #main-nav a.active img.wider {
              height: 65%; }
          #main-header .container .nav-container #main-nav a:hover span, #main-header .container .nav-container #main-nav a:active span, #main-header .container .nav-container #main-nav a.active span {
            margin-left: 2.6rem;
            opacity: 0; }
          #main-header .container .nav-container #main-nav a:hover::after, #main-header .container .nav-container #main-nav a:active::after, #main-header .container .nav-container #main-nav a.active::after {
            animation-name: navmaskIn;
            animation-duration: 800ms;
            animation-timing-function: cubic-bezier(0.01, 0.79, 0.71, 1);
            animation-fill-mode: both; }
          #main-header .container .nav-container #main-nav a:nth-child(2):hover span, #main-header .container .nav-container #main-nav a:nth-child(2):active span, #main-header .container .nav-container #main-nav a:nth-child(2).active span {
            margin-left: 3.3rem; }
      #main-header .container .nav-container #search-button {
        width: 3rem;
        height: auto;
        outline: 0;
        border: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #main-header .container .nav-container #search-button img {
          width: 2rem;
          height: auto; }
      #main-header .container .nav-container #main-search {
        display: none;
        width: calc(100% - 3rem);
        height: calc(60px - 1rem);
        padding: 0.5rem 1.5rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #F4F7F5;
        -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3); }
        #main-header .container .nav-container #main-search #search-form {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          height: 100%; }
          #main-header .container .nav-container #main-search #search-form input {
            height: 100%;
            flex-basis: 90%;
            margin-right: 1rem;
            padding: 0.3rem 0.5rem;
            border: 1px solid #1b2542;
            font-family: 'Lato', sans-serif; }
            #main-header .container .nav-container #main-search #search-form input::-webkit-input-placeholder {
              /* Safari y Chrome */
              color: #1b2542; }
            #main-header .container .nav-container #main-search #search-form input:-moz-placeholder {
              /* Firefox hasta v18 */
              color: #1b2542; }
            #main-header .container .nav-container #main-search #search-form input::-moz-placeholder {
              /* Firefox 19+ */
              color: #1b2542; }
            #main-header .container .nav-container #main-search #search-form input:-ms-input-placeholder {
              /* IE 10+ */
              color: #1b2542; }
          #main-header .container .nav-container #main-search #search-form button {
            flex-basis: 2em;
            height: 100%;
            outline: 0;
            border: 0;
            padding: 0 1rem;
            background-color: #252B36;
            vertical-align: center; }
            #main-header .container .nav-container #main-search #search-form button img {
              width: 2em;
              padding: 0; }

@media (max-width: 450px) {
  #main-nav {
    justify-content: space-around !important; }
    #main-nav a {
      padding: 0 0.5rem; }
      #main-nav a img {
        display: inline !important; }
      #main-nav a span {
        display: none !important; }

  #main-header .container .nav-container #main-nav a:hover img, #main-header .container .nav-container #main-nav a:active img, #main-header .container .nav-container #main-nav a.active img {
    height: 60%;
    left: 50%;
    margin-left: -25%; }

  #main-header .container .nav-container #main-nav a:hover span, #main-header .container .nav-container #main-nav a:active span, #main-header .container .nav-container #main-nav a.active span {
    display: inline-block !important;
    width: 1px;
    overflow: hidden;
    margin-left: 2.6rem;
    opacity: 0; } }
@media (max-width: 650px) {
  #main-grid {
    grid-template-rows: 110px auto auto; }

  #main-header {
    grid-template-columns: 15px minmax(90%, 395px) 15px;
    height: 100px;
    align-self: end;
    background-color: transparent;
    z-index: 10;
    justify-items: center; }
    #main-header .container {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      #main-header .container .logo {
        width: 80%;
        max-width: 10rem;
        height: auto;
        margin-bottom: 0.5rem; }
      #main-header .container .nav-container {
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
        justify-content: space-between; }
        #main-header .container .nav-container #main-nav {
          height: 50px;
          width: calc(100% - 1rem);
          justify-content: space-between; }
          #main-header .container .nav-container #main-nav a {
            padding: 0 0.5rem;
            font-size: 1.11rem; }
            #main-header .container .nav-container #main-nav a img {
              display: none; }

  #main-header .container .nav-container #main-nav a:hover img, #main-header .container .nav-container #main-nav a:active img, #main-header .container .nav-container #main-nav a.active img {
    display: block !important; } }
@media (min-width: 651px) and (max-width: 768px) {
  #main-header .container .nav-container {
    zoom: 0.65; } }
@media (min-width: 769px) and (max-width: 900px) {
  #main-header .container .nav-container {
    zoom: 0.75; } }
@keyframes navmaskIn {
  0% {
    top: -100%;
    height: 100%; }
  40% {
    top: 0%;
    height: 100%; }
  65% {
    top: 0%;
    height: 100%; }
  100% {
    top: 90%;
    height: 10%; } }
@keyframes navmaskOut {
  0% {
    top: 90%;
    height: 10%; }
  40% {
    top: 0%;
    height: 100%; }
  65% {
    top: 0%;
    height: 100%; }
  100% {
    top: -100%;
    height: 100%; } }
@keyframes navimgIn {
  0% {
    top: -70%; }
  100% {
    top: 20%; } }
.loading #logo .logo-circle.lgazul {
  animation-name: loadingCrclAzul;
  animation-duration: 1600ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.03, 0.59, 0.83, 0.4); }
.loading #logo .logo-circle.lgnaranja {
  animation-name: loadingCrclNaranja;
  animation-duration: 1600ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.65, 0.83, 0.4); }
.loading #logo .logo-circle.lgrosa {
  animation-name: loadingCrclRosa;
  animation-duration: 1600ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.76, 0.83, 0.4); }
.loading #logo .logo-circle.lgrojo {
  animation-name: loadingCrclRojo;
  animation-duration: 1600ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.91, 0.83, 0.4); }

@keyframes loadingCrclAzul {
  0% {
    transform: translateX(-62px); }
  30% {
    transform: translateX(-62px); }
  90% {
    transform: translateX(159px); }
  100% {
    transform: translateX(159px); } }
@keyframes loadingCrclNaranja {
  0% {
    transform: translateX(-94px); }
  20% {
    transform: translateX(-94px); }
  80% {
    transform: translateX(126px); }
  100% {
    transform: translateX(126px); } }
@keyframes loadingCrclRosa {
  0% {
    transform: translateX(-126px); }
  10% {
    transform: translateX(-126px); }
  70% {
    transform: translateX(94px); }
  100% {
    transform: translateX(94px); } }
@keyframes loadingCrclRojo {
  0% {
    transform: translateX(-159px); }
  60% {
    transform: translateX(61px); }
  100% {
    transform: translateX(61px); } }
#main {
  display: grid;
  grid-template-rows: 697px 76px auto;
  grid-template-columns: minmax(15px, 5%) minmax(90%, 1890px) minmax(15px, 5%);
  justify-items: center; }
  #main #hero {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    z-index: 1;
    background-color: #C94D53;
    justify-self: stretch; }
    #main #hero .reel {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch; }
      #main #hero .reel article {
        height: 100%;
        width: 100%;
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;*/
        display: grid;
        grid-template-rows: 143px 553px auto;
        grid-template-columns: minmax(15px, 5%) minmax(90%, 1890px) minmax(15px, 5%);
        justify-items: center;
        align-items: center; }
        #main #hero .reel article .tag {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          font-family: "Montserrat Alternates";
          font-weight: 600;
          text-align: center;
          z-index: 1;
          color: rgba(0, 0, 0, 0.5);
          font-size: 8rem; }
        #main #hero .reel article .hero_img {
          grid-column: 1 / 4;
          grid-row: 1 / 4;
          object-fit: cover;
          z-index: 1;
          width: 100%;
          height: 100%; }
        #main #hero .reel article .hero_img + .color_overlay {
          display: block;
          grid-column: 1 / 4;
          grid-row: 1 / 4;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-color: rgba(30, 30, 30, 0.5); }
        #main #hero .reel article h1 {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          z-index: 2;
          text-align: center; }
          #main #hero .reel article h1 a {
            text-decoration: none;
            font-family: "Montserrat Alternates";
            font-weight: 400;
            color: #fff;
            font-size: 4rem;
            line-height: 4rem; }
        #main #hero .reel article .leer_link {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          font-family: "Montserrat Alternates";
          font-weight: 500;
          color: #fff;
          font-size: 1rem;
          z-index: 2;
          text-decoration: none;
          align-self: flex-end;
          justify-self: end;
          margin: 0 9% 7% 0; }
          #main #hero .reel article .leer_link::before {
            content: '';
            display: inline-block;
            width: 3rem;
            height: 1px;
            background-color: #fff;
            margin-right: 4px; }
  #main #main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    z-index: 5;
    max-width: 1890px;
    padding: 3rem;
    background-color: #252B36;
    -webkit-box-shadow: 0 20px 30px 0 rgba(65, 65, 65, 0.5);
    box-shadow: 0 20px 30px 0 rgba(65, 65, 65, 0.5);
    margin-bottom: 50px; }

@media (max-width: 650px) {
  #main {
    grid-template-rows: 400px 35px auto; }
    #main #hero .reel article {
      grid-template-rows: 110px 289px auto; }
      #main #hero .reel article .tag {
        font-size: 3.8rem;
        word-wrap: break-word; }
      #main #hero .reel article h1 a {
        font-size: 2rem;
        line-height: 2rem;
        word-wrap: break-word; }
      #main #hero .reel article .leer_link {
        margin-bottom: 1.5rem; }
    #main #main-content {
      max-width: 620px;
      padding: 10px;
      width: calc( 100% - 20px); }
      #main #main-content article.teaser {
        padding: 1rem 1rem 0;
        margin: 0 0 1rem 0; }
        #main #main-content article.teaser .noPicBG {
          margin: -1rem 0 0 -1.55rem;
          height: 5rem;
          z-index: -1;
          fill: #000000;
          opacity: 0.4; }
        #main #main-content article.teaser h1 {
          font-size: 1.7rem;
          margin: 0 0 1rem 0;
          line-height: 2.05rem; }
        #main #main-content article.teaser .meta {
          margin: 0 0 0.9rem 0;
          font-size: 0.8rem; }
        #main #main-content article.teaser .summary {
          margin: 0 0 2rem;
          font-size: 1.0rem;
          line-height: 1.4rem; }
        #main #main-content article.teaser .post_image {
          height: 270px; } }
#main-footer {
  display: grid;
  grid-template-columns: minmax(15px, 5%) minmax(90%, 1890px) minmax(15px, 5%);
  justify-items: center; }
  #main-footer .footer_content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 50% 10% 40%;
    color: #fff;
    font-size: 0.85rem;
    font-family: 'Lato', sans-serif; }
    #main-footer .footer_content .blogInfo {
      grid-column: 1 / 2;
      padding: 0 1rem; }
      #main-footer .footer_content .blogInfo .logo {
        width: 70%;
        margin-bottom: 1rem; }
      #main-footer .footer_content .blogInfo .text {
        font-weight: 300;
        line-height: 1rem; }
        #main-footer .footer_content .blogInfo .text a {
          text-decoration: none;
          color: #B74053; }
    #main-footer .footer_content .support {
      grid-column: 3 / 4;
      font-size: 0.8rem;
      font-family: 'Lato', sans-serif;
      line-height: 1rem;
      font-weight: 300; }
      #main-footer .footer_content .support h6 {
        font-size: 1.0rem;
        font-family: "Montserrat Alternates";
        margin: 0 0 0.8rem; }
      #main-footer .footer_content .support .social_icon {
        display: inline-block;
        width: 2rem;
        text-decoration: none;
        margin-right: 1rem; }
        #main-footer .footer_content .support .social_icon img {
          width: 100%;
          height: auto; }
        #main-footer .footer_content .support .social_icon.soon img {
          filter: grayscale(1); }
      #main-footer .footer_content .support a {
        text-decoration: none;
        color: #B74053; }
    #main-footer .footer_content .cintillo {
      grid-column: 1 / 4;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 0.7rem;
      margin: 2rem 0;
      color: #fff;
      text-align: center; }

@media (max-width: 650px) {
  #main-footer .footer_content {
    grid-template-columns: auto; }
    #main-footer .footer_content .blogInfo {
      grid-column: 1/2;
      margin-bottom: 1.5rem; }
    #main-footer .footer_content .support {
      grid-column: 1 / 2;
      padding: 0 1rem; } }
.mt-1 {
  margin-top: 1rem !important; }

/*# sourceMappingURL=main.css.map */
